<h1>Editing Pet History</h1>

<%= render 'form', pet_history: @pet_history %>

<%= link_to 'Show', pet_pet_history_path(@pet_history.pet_id, @pet_history.id) %> |
<%= link_to 'Back', pet_pet_histories_path(@pet.id) %>
